<div class="detailedBookList">

    <h3 class="text-align-center">Detalhes do livro</h3>

    <div>
        <mat-list>
            <mat-list-item>
                <span class="mat-headline-6">Nome: <span class="mat-subtitle-1">Gênesis</span></span>
            </mat-list-item>

            <mat-list-item>
                <span class="mat-headline-6">Abrevição: <span class="mat-subtitle-1">gn</span></span>
            </mat-list-item>

            <mat-list-item>
                <span class="mat-headline-6">Categoria: <span class="mat-subtitle-1">Torá</span></span>
            </mat-list-item>

            <mat-list-item>
                <span class="mat-headline-6">Capítulos: <span class="mat-subtitle-1">50</span></span>
            </mat-list-item>

            <mat-list-item>
                <span class="mat-headline-6">Escritor: <span class="mat-subtitle-1">Moisés</span></span>
            </mat-list-item>

            <mat-list-item>
                <span class="mat-headline-6">Data: <span class="mat-subtitle-1">1500 AC</span></span>
            </mat-list-item>

            <mat-list-item>
                <span class="mat-headline-6">Local: <span class="mat-subtitle-1">Monte Sinai</span></span>
            </mat-list-item>
        </mat-list>
    </div>
</div>